.hero{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 24%, rgba(198,122,230,1) 46%, rgba(199,66,255,1) 62%, rgba(209,16,180,1) 82%, rgba(255,40,139,1) 100%);
color:#fff !important;
}
.hero__title{
  text-align: center;
  color: #fff;
}

.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
  color: #fff;
}

.hero__content {
  padding-top: 80px;
  color: #fff;
}

.hero__content > p{
  text-align: justify !important;
  color: #fff;
}

.hero__img{
  border-radius: 15px;
}

.download-app{
  margin-bottom:40px;
  display: flex;
  align-items: center;
  justify-content: center;

}



.gp-btn{
  width:160px;
  height:60px;
  border:1px solid #91808f;
  color:#000;
  background-color:#000;
  background:#fff url("https://img.icons8.com/fluency/96/000000/google-play.png") no-repeat;
  background-position: 15px 10px;
  background-size:35px;
  border-radius:5px;
  padding-left:20px;
  font-size:16px;
  line-height: 100%;
    position: relative;
}

.gp-btn_text::before{
  content:"Download from";
  position: relative ;
  left: -9px;
  color:#000;
  top:-17px;
  padding:0px;
  margin:0px;
  font-size:8px;
  
}
.gp-btn_text::after{
  content:"Google Play";
  position:absolute;
  top:20px;
  width:200px;
  left:-2px;
  word-break:nobreak;
  word-wrap:nowrap;
  font-size:18px;
  
}
@media only screen and (max-width: 991px) {
  .hero__content {
    padding-top: 00px;
  }
}
